.experience-section {
  color: #ffffff;
  /* Added padding for better spacing */
  position: relative;
  height: 100vh;
  flex: 1;
  flex-wrap: wrap;


}

/* Container for Section Content */
.experience-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Added padding for better spacing */
  align-items: center;
  
}

/* Section Title */
.section-title {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}


/* Timeline Experience */
.timeline-experience {
  margin-top: 60px;
}

/* Timeline Period */
.timeline-period {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: right;
  color: rgba(255, 255, 255, 0.2);
}

/* Timeline Item */
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

/* Timeline Icon */
.timeline-icon {
  font-size: 64px;
  color: #008cba;
  margin-right: 20px;
  margin-top: -20px;
}

/* Timeline Content */
.timeline-content {
  display: flex;
  flex-direction: column; /* Adjusted for better layout */
  justify-content: center;
}

/* Timeline Content Heading */
.timeline-content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

/* Timeline Content Subheading */
.timeline-content h4 {
  font-size: 1.8rem;
  color: #a8a8a8;
  margin: 5px 0;
}

/* Timeline Content Paragraph */
.timeline-content p {
  font-size: 1.5rem;
  color: #d1d1d1;
  line-height: normal;
}

/* Additional Content Styling */
.timeline-content-p {
  width: 100%; /* Adjusted width to be responsive */
  margin-top: -15px;
}

.timeline-content-p2 {
  width: 100%; /* Adjusted width to be responsive */
  margin-top: -15px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .section-title {
      font-size: 36px; /* Adjust font size for smaller screens */
  }
  .experience-section{
    flex: 1;
  }

  .timeline-period {
      font-size: 48px; /* Adjust font size for smaller screens */
  }

  .timeline-icon {
      font-size: 48px; /* Adjust icon size for smaller screens */
  }

  .timeline-content h3 {
      font-size: 20px; /* Adjust heading size for smaller screens */
  }

  .timeline-content h4 {
      font-size: 16px; /* Adjust subheading size for smaller screens */
  }

  .timeline-content p {
      font-size: 14px; /* Adjust paragraph size for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .section-title {
      font-size: 28px; /* Further adjust font size for very small screens */
  }

  .timeline-period {
      font-size: 36px; /* Further adjust font size for very small screens */
  }

  .timeline-icon {
      font-size: 36px; /* Further adjust icon size for very small screens */
  }

  .timeline-content h3 {
      font-size: 1.5rem; /* Further adjust heading size for very small screens */
  }

  .timeline-content h4 {
      font-size: 1.2rem; 
  }

  .timeline-content p {
      font-size:1.2rem; 
  }
}