.experience-section {
  color: #ffffff;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience-container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-title {
  font-size: 2.875rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  color: #d400ff;
  margin-left: 0.9rem;
}

.timeline-experience {
  margin-top: 3.75rem;
  width: 100%;
}

.timeline-period {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.2);
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.875rem;
  width: 100%;
}

.timeline-icon {
  font-size: 4rem;
  color: #008cba;
  margin-right: 1.25rem;
  margin-top: -1.25rem;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d400ff;
  width: calc(100% - 5rem);
  margin-left: 1.5rem;
}

.timeline-content h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.timeline-content h4 {
  font-size: 1.8rem;
  color: #a8a8a8;
  margin: 0.3125rem 0;
}

.timeline-content p {
  font-size: 1.5rem;
  color: #d1d1d1;
  line-height: normal;
}

.timeline-content-p,
.timeline-content-p2 {
  width: 100%;
  margin-top: -0.9375rem;
}

@media screen and (max-width: 768px) {
  .experience-section,
  .experience-container {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .section-title {
    font-size: 2rem;
    margin-left: 0.8rem;
  }

  .timeline-period {
    font-size: 3rem;
  }

  .timeline-icon {
    font-size: 3rem;
    margin-left: 0.9rem;
  }

  .timeline-content h3 {
    font-size: 1.4rem;
  }

  .timeline-content h4 {
    font-size: 1.4rem;
  }

  .timeline-content p {
    font-size: 1.2rem;
  }
}
