/* Project Section */
.project {
  padding: 40px 20px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}


.project-title {
  font-size: 2.5rem;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  color: #d400ff;
}
.projrct-card-h{
  color: #d400ff;
}

/* Underline Styling */
.section-underline {
  border: 0;
  height: 8px;
  background: #008cba;
  width: 160px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px; 
}
/* Grid Layout for Projects */
.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
}

/* Individual Project Card */
.project-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; 
}

/* Card Image */
.project-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
  height: 150px;
  object-fit: cover;
}

/* Card Title */
.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Card Description */
.project-card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Links Container */
.project-card .links {
  display: flex;
  gap: 10px; 
  justify-content: center; 
  margin-top: auto;
}

/* Individual Link Styling */
.project-card .links a {
  color: #ffffff;
  text-decoration: none;
  background-color: #a52a2a; /* Adjusted color */
  padding: 8px 12px;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.project-card .links a:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  filter: brightness(1.2); 
}
.github {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #333333;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.github:hover {
  background-color: #444444; 
  transform: scale(1.05); 
}

.github:first-of-type {
  background-color: #7fafa7;
}

.github:last-of-type {
  background-color: #5f8091; 
}

.github:first-of-type:hover {
  background-color: #444; 
}

.github:last-of-type:hover {
  background-color: #0091ea; 
}

/* Year Range Styling */
.year-range {
  font-size: 1.5rem;
  color: #00a8ff;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-grid {
    flex-direction: column; 
    align-items: center; 
  }
  .project-title {
    font-size: 2rem;
    margin-top: 20px;
  }

  .section-underline {
    width: 130px; 
    top: 90px; 
    
  }

  .github {
    font-size: 1rem; 
    padding: 8px 16px; 
    margin: 5px 5px; 
}
}

@media screen and (max-width: 576px) {
  .github {
      font-size: 0.9rem; 
      padding: 6px 12px; 
      margin: 5px 3px; 
  }
}