

body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width:1350px;
  margin: 0 0px;
  padding-top: 20px ;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  background-color: #4f247b;
  color: #121212;
  padding: 5px 10px;
  margin-left: 30px;
  font-weight: bold;
  font-size: larger;
}
.education-underline{
  border: 0;
  height: 10px;
  background: #008cba;
  width: 240px;
  position: absolute; 
  left: 30;
  margin-top: -20px; 
}
.education h1{
  font-size: 40px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-left: 30px;
  cursor: pointer;
  display: block;
}
nav ul li :hover{
  box-shadow: 5px #4f247b;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover  {
  color: #00a8ff;
 
}

nav ul li a.active{
  color: #00a8ff;
}

section {
  margin-bottom: 50px;
}




p {
  line-height: 1.6;
  color: #cccccc;
}

.skills {
  margin-left: 25px;
  margin-top: 30px;
  color: white;
  padding-bottom: 20px;
  
  
}

.skills h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #007bff;
  text-align: center;
  margin-top: 10px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
 
  
}

.skills ul li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
  margin: 5px;
  border-radius: 20px;
  font-size: 1rem;
  color: #ffff;
  font-weight: bold;
  width: max-content;
  
}
.education{
  margin-left: 160px;
  bottom: 20px;
  position: relative;
  background: 
  radial-gradient(circle at top right, rgba(0, 168, 255, 0.2), transparent 70%),
  radial-gradient(circle at bottom left, rgba(128, 0, 128, 0.2), transparent 70%);
  color: #ffffff;
  padding: 80px;
  
}

.skills ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.timeline {
  position: relative;
  padding: 30px;
  margin-top: 15px;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  bottom: 40px;
  width: 2px;
  background-color: #00a8ff;
}

.timeline ul {
  list-style-type: none;
  padding: 0;
}

.timeline ul li {
  position: relative;
  margin-bottom: 30px;
}

.timeline ul li::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00a8ff;
}

.experience .timeline ul li h3 {
  color: #00a8ff;
  margin-bottom: 5px;
}

.experience .timeline ul li p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}


.App::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: 
    radial-gradient(circle at top right, rgba(0, 168, 255, 0.2), transparent 70%),
    radial-gradient(circle at bottom left, rgba(128, 0, 128, 0.2), transparent 70%);
  z-index: -1;
}


.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  
}
 
.home-content {
  width: 52%;
}

.home h1 {
  font-size: 4em;  
  margin: 0px;
  padding: 0px;
}

.home h2 {
  color: #00a8ff;
  font-size: 3em;
  margin: 0px;
  padding: 0px;
  animation: verticalBounce 1s ease infinite; 
 
}

@keyframes fadeIn {
  0% {
    opacity: 0.5; 
    transform: translateY(10px); 
  }
  100% {
    opacity: 1; 
    transform: translateY(0); 
  }
}


.animated-text span {
  display: inline-block; 
  animation: fadeIn 3s ease-in-out forwards infinite; 
}


.animated-text span:nth-child(1) { animation-delay: 0s; }
.animated-text span:nth-child(2) { animation-delay: 0.5s; }
.animated-text span:nth-child(3) { animation-delay: 0.6s; }
.animated-text span:nth-child(4) { animation-delay: 0.7s; }
.animated-text span:nth-child(5) { animation-delay: 0.8s; }
.animated-text span:nth-child(6) { animation-delay: 0.9s; }
.animated-text span:nth-child(7) { animation-delay: 0.9s; }
.animated-text span:nth-child(8) { animation-delay: 0.9s; }
.animated-text span:nth-child(9) { animation-delay: 0.9s; }
.animated-text span:nth-child(10) { animation-delay: 0.9s; }
.animated-text span:nth-child(11) { animation-delay: 1s; }
.animated-text span:nth-child(12) { animation-delay: 1.1s; }
.animated-text span:nth-child(13) { animation-delay: 1.2s; }
.animated-text span:nth-child(14) { animation-delay: 1.3s; }
.animated-text span:nth-child(15) { animation-delay: 1.4s; }
.animated-text span:nth-child(16) { animation-delay: 1.5s; }
.animated-text span:nth-child(17) { animation-delay: 1.6s; }
.animated-text span:nth-child(18) { animation-delay: 1.7s; }
.animated-text span:nth-child(19) { animation-delay: 1.8s; }





.home-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-left: 10px;
  
}

.tilted-frame {
  position: relative;
  width: 300px; 
  height: 400px; 
  background: #fff; 
  border: 10px solid #a8eddc; 
  transform: rotate(20deg); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  overflow: hidden;
}

.tilted-frame img {
  position: absolute;
  top: 59%;
  left: 56%;
  width: 139%;
  height: 140%;
  object-fit: cover; 
  transform: translate(-50%, -50%) rotate(-20deg); 
}






.section-title {
  
  display: inline-block;
}

.section-title::after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #00a8ff;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #00a8ff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0077b3;
}