/* Global Styles */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 30px;
}

.logo {
  background-color: #6a1b9a;
  color: #ffffff;
  padding: 10px 20px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
}



/* Skills Section */
.skills {
  margin: 20px auto;
  color: #ffffff;
  padding-bottom: 20px;
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00a8ff;
  text-align: center;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.skills ul li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.skills ul li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


